
<div class="well center-block">
<h1>Create a New Item</h1>
	
	<%= bootstrap_form_for [:admin, @item] do |f| %>

		<div class="row">
			<div class="col-lg-4">
				<%= f.text_field :name, label: "Name" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<%= f.text_area :descrip, label: "Description" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<%= f.text_field :menu, label: "Menu Name"%>
			</div>
		</div>

		<%= f.submit class: "btn btn-primary" %>
	<% end %>
</div>

